:global body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1f1f22;

  background-repeat: no-repeat;
}
hdgdhs

:global body a {
  text-decoration: none;
}