:global body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1f1f22;

  max-width: 1200px;
  margin: 0 auto;

  background-repeat: no-repeat;
}

:global body a {
  text-decoration: none;
}

// Mobile
@media screen and (max-device-width: 425px) {
  :global body {
    font-size: 10px;
    line-height: 19px;
  }
}