.container {
  display: flex;

  padding: 20px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;

  align-content: flex-start;

  flex-wrap: wrap;

  //min-width: 947px;
  //max-width: 947px;
}

.titleWrapper {
  margin: 40px auto;
}

.title {
  padding-left: 233px;
}

// Mobile
@media screen and (max-device-width: 375px) {
  .titleWrapper {
    margin: 10px auto;
  }

  .title {
    padding-left: 20px;
    font-size: 15px;
  }
}