.container {
  display: flex;

  padding-left: 20px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.titleWrapper {
  display: flex;

  margin: 40px auto;
  padding-left: 30px;
}

.filterButton {
  display: none;
}

// Mobile
@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    align-content: center;

    padding-left: 0;
  }

  .cardsWrapper {
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .titleWrapper {
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 15px;
  }

  .title {
    font-size: 15px;
  }
}