.container {
  display: flex;
  padding: 20px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;

  align-content: flex-start;

  flex-wrap: wrap;

  //min-width: 947px;
  //max-width: 947px;
}

.titleWrapper {
  display: flex;
  align-items: center;

  margin: 40px auto;
}

.title {
  padding-left: 233px;
}

.filterButton {
  display: none;
}

// Mobile
@media screen and (max-device-width: 425px) {
  .container {
    flex-direction: column;
  }

  .titleWrapper {
    justify-content: space-around;
    margin: 10px auto;
  }

  .title {
    padding-left: 0;
    font-size: 15px;
  }

  .filterButton {
    display: block;
    color: #ffffff;

    border: 1px solid #5e98fb;
    background: linear-gradient(to top, #5e98fb, #69a1ff);

    height: 25px;

    cursor: pointer;
  }

  .filterButton:hover {
    background: linear-gradient(to top, #5e98fb, #81affe);
  }

  .filterButton:active {
    background: linear-gradient(to top, #5e98fb, #75a5f8);
  }
}