.carusel {
    position: relative;

    width: 100%;

    margin-top: 20px;
    margin-bottom: 50px;
}

.caruselImages {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 2s;
}

.caruselImages li {
    margin: 0 30px 0 0;

	@media screen and (max-width: 425px) {
		&:not(:first-child) {
			display: none;
		}
	}
}

.buttonToLeft {
    height: 100%;
    width: 500px;

    position: absolute;
    top: 0;
    right: 1100px;

    cursor: pointer;
    transition: all 0.5s;
    background: linear-gradient(to right, #171718, transparent 70%);
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.buttonToRight {
    height: 100%;
    width: 500px;

    position: absolute;
    top: 0;
    left: 1100px;

    cursor: pointer;
    transition: all 0.5s;
    background: linear-gradient(to left, #171718, transparent 70%);
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}