.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;

  overflow: hidden;
}

.title {
  font-size: 28px;
  font-weight: 400;
}


.clubList {
  display: flex;
  justify-content: space-between;

  margin: 0 0 15px 0;
  padding: 0;

  list-style: none;
}

.allTags {
  display: flex;
  justify-content: space-between;
}

.popularTags {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popularTags a {
  margin-right: 15px;
}

.tags {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.tags a {
  color: #3071eb;
  text-decoration: underline;
}

.tags a:hover {
  text-decoration: none;
}

// Mobile
@media screen and (max-device-width: 375px) {
  .clubList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 0 15px 0;
    padding: 0;

    list-style: none;
  }
}