.popUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.innerPopUp {
  width: 300px;
  background-color: white;
  border-radius: 10px;

  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;

  padding: 10px 30px 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.modalTitle {
  text-align: center;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

input .noActive {
  background-color: grey;
}

.button {
  color: #ffffff;

  border: 1px solid #5e98fb;
  background: linear-gradient(to top, #5e98fb, #69a1ff);

  width: 100%;
  height: 36px;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to top, #5e98fb, #81affe);
}

.button:active {
  background: linear-gradient(to top, #5e98fb, #272829);
}

.link {
  color: #81affe;
  font-size: 10px;
  text-decoration: underline;
}

.link:hover {
  color: #3071eb;

}