.filterSectionWrapper {
  margin-right: 70px;
  span {
    font-size: 15px;
    font-weight: 500;
  }

  @media screen and (max-width: 425px) {
    width: 90%;
    margin: 10px auto 10px;

    box-shadow: 0 -2px 6px rgba(14,21,47,.02), 0 6px 18px 5px rgba(14,21,47,.1);
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
  }
}

.filterSection {
  padding-left: 50px;
  margin-bottom: 30px;

  @media screen and (max-width: 425px) {
    margin: 10px 0;
    padding: 0;
  }
}

.title {
  padding-left: 20px;

  @media screen and (max-width: 425px) {
    padding: 0;
    margin-left: -25px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  //border-left: 1px solid #e8eaed;
  border-right: 1px solid #e8eaed;

  width: 170px;

  margin-right: 30px;
  padding: 0 10px;

  div label {
    cursor: pointer;
  }
}

.breakLine {
  border: 1px solid #e8eaed;
  border-bottom: none;
  width: 160px;
}

.metroInput {
  cursor: text;
  height: 25px;
  padding-left: 10px;
}

.filterCheckbox {
  margin-right: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .breakLine {
    display: none;
  }
}