.filterSectionWrapper {
  width: 100%;
  box-shadow: 0 0px 6px rgba(14,21,47,.02), 0 6px 18px 1px rgba(14,21,47,.1);
  border-radius: 10px;

  padding: 20px;
  margin-bottom: 40px;

  @media screen and (max-width: 425px) {
    width: 90%;

    margin: 10px auto 10px;
    padding-left: 40px;
  }
}

.filterSection {
  padding-left: 20px;

  @media screen and (max-width: 425px) {
    margin: 10px 0;
    padding: 0;
  }
}

.title {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  
  margin-bottom: 20px;

  @media screen and (max-width: 425px) {
    padding: 0;
    margin-left: -25px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  //border-left: 1px solid #e8eaed;
  border-right: 1px solid #e8eaed;

  width: 170px;

  margin-right: 30px;
  padding: 0 10px;

  div label {
    cursor: pointer;
  }
}

.metroInput {
  cursor: text;
  height: 25px;
  padding-left: 10px;
}

.filterCheckbox {
  margin-right: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .breakLine {
    display: none;
  }
}