
// :global {
//   @import '~react-autocomplete-input/dist/bundle.css';
// }

.container {
  display: flex;
  flex-direction: column;

  border-right: 1px solid #e8eaed;

  width: 170px;

  margin-right: 30px;
  padding: 0 10px;

  div label {
    cursor: pointer;
  }
}

.breakLine {
  border: 1px solid #e8eaed;
  border-bottom: none;
  width: 160px;
}

.metroInput {
  cursor: text;
  height: 25px;
  padding-left: 10px;
}

.filterCheckbox {
  margin-right: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

.filterButton {
  display: none;
}

@media screen and (max-device-width: 425px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 auto 20px;
    padding: 0;

    width: 100%;

    border: none;
  }

  .filterButton {
    display: block;
  }

  .breakLine {
    width: 80px;
  }
}