.mainFooter {
  background-color: #f7f8f9;
  width: 100%;

  margin-top: 40px;
}

.mainFooter ul {
  list-style: none;
}

.mainFooter a {
  color: #1f1f22;
}

//.reference,
//.mainFooterInfo {
//  display: flex;
//
//  margin: 0;
//  padding: 30px 0;
//}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.visuallyHidden {
  display: none;
}

.socialList {
  display: flex;

  margin: 0;
  padding: 30px 0 20px 0;
}

.socialList li:not(:first-child):hover {
  cursor: pointer;
}

.socialList :first-child {
  font-size: 16px;
  font-weight: 300;
}

.socialList li {
  margin-right: 15px;
}

.footerLine {
  margin: 0;
  padding: 0;

  border: none;
  color: #d6d8dc;
  background-color: #d6d8dc;
  height: 1px;
  width: 100%;

  margin: 0 auto;
}

.reference,
.mainFooterInfo {
  display: flex;

  margin: 0;
  padding: 30px 0;
}

.reference li {
  display: flex;
  margin-right: 15px;
}

.infoList {
  margin: 0 100px 0 0;
  padding: 0;
}

.infoList :first-child {
  font-size: 18px;
}

.infoList :not(:first-child) a {
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
  
  &:hover {
    text-decoration: none;
  }
}

.infoList li {
  margin-bottom: 10px;
}

// Mobile
@media screen and (max-width: 425px) {
  .socialList :first-child {
    font-size: 12px;
  }

  .infoList :first-child {
    font-size: 12px;
  }

  .infoList :not(:first-child) a {
    font-size: 10px;
  }

  .reference li {
    margin-right: 5px;
  }

  .socialList li {
    margin-right: 5px;
  }

  .infoList {
    margin: 0 10px 0 0;
    padding: 0;
  }

  .reference,
  .mainFooterInfo {
    display: flex;

    margin: 0;
    padding: 30px 0 30px 30px;
  }
}
