$card-width: 282px;
$card-height: 141px;

$mobile-card-width: 282px;
$mobile-card-height: 141px;

.container {
  position: relative;
  bottom: 0;

  border-radius: 5px;

  cursor: pointer;

  &:hover {
    bottom: 10px;
    transition: 0.5s;
  }

  transition: 0.5s;

  @media screen and (max-width: 425px) {
    display: inline-block;
    min-width: 100%;
    margin: 0 auto 30px;
  }
}

.cover {
  position: relative;
  bottom: 0;

  width: $card-width;
  height: $card-height;

  border-radius: 5px;

  margin: 0;

  &:hover {
    box-shadow: 0 4px 35px -8px #3b3b3f;
    transition: 0.5s;
  }

  transition: 0.5s;

  @media screen and (max-width: 425px) {
    width: 100%;
    height: auto;

    margin: 0 auto;
  }
}

.title {
  text-align: center;
  max-width: 272px;

  :hover > & {
    color: #3071eb;
  }

  margin: 0;
  padding: 5px;

  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}

// Icon new
.new {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -7px;
  left: 220px;

  width: 50px;
  height: 20px;

  border-radius: 3px;

  background-color: #3071eb;
  color: white;
  text-align: center;
}

// Icon rating
.rating {
  position: absolute;
  top: 5px;
  left: 10px;

  width: 30px;
  height: 30px;

  border-radius: 3px;
  background-color: #2196F3;

  color: white;
  text-align: center;
  line-height: 30px;

  // Mobile
  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}
