$card-width: 282px;
$card-height: 141px;

$mobile-card-width: 282px;
$mobile-card-height: 141px;

.container {
  position: relative;
  bottom: 0;

  width: $card-width;
  height: $card-height;

  cursor: pointer;

  margin-bottom: 80px;
  margin-right: 30px;

  &:hover {
    box-shadow: 0 4px 20px -5px #000000;
    bottom: 10px;
    transition: 0.5s;
  }

  transition: 0.5s;

  // Mobile
  @media screen and (max-width: 425px) {
    width: $mobile-card-width;
    height: $mobile-card-height;
    margin: 0 auto 80px;
  }
}

.cover {
  width: $card-width;
  height: $card-height;

  border-radius: 5px;

  margin: 0;

  // Mobile
  @media screen and (max-width: 425px) {
    width: $mobile-card-width;
    height: $mobile-card-height;
  }
}

.title {
  text-align: center;

  :hover > & {
    color: #3071eb;
  }

  margin: 0;
  padding: 5px;

  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}

// Icon new
.new {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -7px;
  left: 220px;

  width: 50px;
  height: 20px;

  border-radius: 3px;

  background-color: #3071eb;
  color: white;
  text-align: center;
}

// Icon rating
.rating {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 5px;
  left: 10px;

  width: 30px;
  height: 30px;

  border-radius: 3px;

  background-color: #3071eb;
  color: white;
  text-align: center;

  // Mobile
  @media screen and (max-width: 425px) {
    width: 15px;
    height: 15px;
  }
}
