.screenshotsSwitch {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 750px;
  margin: 0 auto;

  border-radius: 5px;

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

.screen {
  width: 144px;
  height: 81px;

  border-radius: 3px;

  @media screen and (max-width: 425px) {
    width: 19%;
    // height: 45px;
    // width: 72px;
    max-height: 45px;
  }
}