.screenshotsSwitch {
  display: flex;
  justify-content: space-between;
}

// Mobile
@media screen and (max-device-width: 425px) {
  .img {
    max-width: 375px;
    max-height: 210px;
  }

  .screen {
    width: 72px;
    height: 40px;
  }
}