.profileInformations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 360px;

    @media screen and (max-width: 425px) {
			max-width: 425px;
			margin-top: 20px;
    }
  }
  
  .profileInformations p span {
    font-weight: 700;
	}
	
	.cover {
    border-radius: 5px;

		@media screen and (max-width: 425px) {
			display: none;
    }
	}